<!-- <h1 class="well">This is our homepage.</h1> -->

<div class="container">
	<div class="jumbotron">
		<h1>activityOverlord</h1>
		<h2>...tracking app activity better than theNSA since 1899.</h2>
		<a href="/user/new" class="btn btn-lg btn-success">Sign up now!</a>
	</div>
</div>